In [2]:
import pandas as pd
import numpy as np

## Key Questions
## Refactored Key Questions
- Which **counties** in Colorado have the highest number of business filings?
- What specific **regions** in Colorado show the highest number of business filings? *(Note: Define "regions" if it refers to specific geographical/administrative areas.)*
- At the state level, which **types of businesses** or **industries** are most prevalent?
- On a county basis, which **types of businesses** or **industries** are most common?
- In different regions, what are the most common **types of businesses** or **industries**?
- **Trend Analysis:** Is there an increasing trend in the number of business filings in Colorado over the past 5 years?
- **Trend Analysis:** What has been the trend in business filings over the past 10 years?
- **Trend Analysis:** How have business filings varied month-over-month in the last 12 months?

In [3]:
# import business.csv
df = pd.read_csv('Business.csv')

In [4]:
df.head()

,entityid,entityname,principaladdress1,principaladdress2,principalcity,principalstate,principalzipcode,principalcountry,mailingaddress1,mailingaddress2,...,agentprincipalstate,agentprincipalzipcode,agentprincipalcountry,agentmailingaddress1,agentmailingaddress2,agentmailingcity,agentmailingstate,agentmailingzipcode,agentmailingcountry,entityformdate
0,18861217679,"DENVER UNION CORPROATION, Dissolved January 17...",1512 LARIMER STREET #760,NaN,Denver,CO,80202,NaN,NaN,NaN,...,CO,80202,US,NaN,NaN,NaN,NaN,NaN,NaN,03/29/1886
1,19871114819,GROWER-SHIPPER POTATO COMPANY,0132 CO RD 34,NaN,Monte Vista,CO,81144,US,PO BOX 432,NaN,...,CO,81101,US,PO BOX 809,NaN,ALAMOSA,CO,81101,US,06/28/1948
2,18911012261,"GRADEN MERCANTILE COMPANY (THE), Dissolved May...",777 Main Ave.,NaN,Durango,CO,801302,US,P.O. Box Dr F,NaN,...,CO,81301,US,NaN,NaN,NaN,NaN,NaN,NaN,07/01/1891
3,19031090218,"A. CARBONE AND COMPANY, INC., Dissolved Decemb...",846 East Eighteenth Avenue,NaN,Denver,CO,80218,US,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/31/1903
4,19871132823,"WIREMAN'S BROTHERHOOD FUND, INC.",5660 Logan St,NaN,Denver,CO,80216,US,NaN,NaN,...,CO,80216,US,NaN,NaN,NaN,NaN,NaN,NaN,06/18/1956

In [5]:
num_rows, num_cols = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 2586441
Number of columns: 35

In [6]:
foreign_entity_types = df[df['entitytype'].str.contains('foreign', case=False)]['entitytype'].unique()
# foreign_entity_df = df[df['entitytype'].isin(foreign_entity_types)]
# foreign_entity_df.head()


foreign_entity_df = df[df['entitytype'].isin(foreign_entity_types) & (df['principalcountry'] == 'US')]
foreign_principalstate_counts = df[df['principalcountry'] != 'US']['principalstate'].value_counts()
cn_principalstate_counts = df[df['principalcountry'] == 'CN']['principalstate'].value_counts()
print(cn_principalstate_counts)
# foreign_entity_type_counts = foreign_entity_df['entitytype'].value_counts()
# print(foreign_entity_type_counts)

principalstate
OT    938
CO     23
FC      1
AL      1
Name: count, dtype: int64

In [7]:
df['entityformdate'] = pd.to_datetime(df['entityformdate']).dt.date
df.dtypes

entityid                   int64
entityname                object
principaladdress1         object
principaladdress2         object
principalcity             object
principalstate            object
principalzipcode          object
principalcountry          object
mailingaddress1           object
mailingaddress2           object
mailingcity               object
mailingstate              object
mailingzipcode            object
mailingcountry            object
entitystatus              object
jurisdictonofformation    object
entitytype                object
agentfirstname            object
agentmiddlename           object
agentlastname             object
agentsuffix               object
agentorganizationname     object
agentprincipaladdress1    object
agentprincipaladdress2    object
agentprincipalcity        object
agentprincipalstate       object
agentprincipalzipcode     object
agentprincipalcountry     object
agentmailingaddress1      object
agentmailingaddress2      object
agentmailingcity          object
agentmailingstate         object
agentmailingzipcode       object
agentmailingcountry       object
entityformdate            object
dtype: object

In [8]:
date_range = (df['entityformdate'].min().strftime('%Y-%m-%d'), df['entityformdate'].max().strftime('%Y-%m-%d'))
print("Range of business formation dates:", date_range)

Range of business formation dates: ('1864-03-05', '2023-12-26')

In [9]:
# what counties are represented?
df.columns

Index(['entityid', 'entityname', 'principaladdress1', 'principaladdress2',
       'principalcity', 'principalstate', 'principalzipcode',
       'principalcountry', 'mailingaddress1', 'mailingaddress2', 'mailingcity',
       'mailingstate', 'mailingzipcode', 'mailingcountry', 'entitystatus',
       'jurisdictonofformation', 'entitytype', 'agentfirstname',
       'agentmiddlename', 'agentlastname', 'agentsuffix',
       'agentorganizationname', 'agentprincipaladdress1',
       'agentprincipaladdress2', 'agentprincipalcity', 'agentprincipalstate',
       'agentprincipalzipcode', 'agentprincipalcountry',
       'agentmailingaddress1', 'agentmailingaddress2', 'agentmailingcity',
       'agentmailingstate', 'agentmailingzipcode', 'agentmailingcountry',
       'entityformdate'],
      dtype='object')

In [10]:
# what zip codes are represented?
df.principalzipcode.unique()
len(df.principalzipcode.unique())

101032

In [11]:
df.head(1)

,entityid,entityname,principaladdress1,principaladdress2,principalcity,principalstate,principalzipcode,principalcountry,mailingaddress1,mailingaddress2,...,agentprincipalstate,agentprincipalzipcode,agentprincipalcountry,agentmailingaddress1,agentmailingaddress2,agentmailingcity,agentmailingstate,agentmailingzipcode,agentmailingcountry,entityformdate
0,18861217679,"DENVER UNION CORPROATION, Dissolved January 17...",1512 LARIMER STREET #760,NaN,Denver,CO,80202,NaN,NaN,NaN,...,CO,80202,US,NaN,NaN,NaN,NaN,NaN,NaN,1886-03-29

In [12]:
df.entitytype.unique()

array(['Corporation', 'Nonprofit Corporation',
       'Limited Liability Company', 'Ditch Company',
       'Foreign Corporation', 'Credit Union', 'Insurance Company',
       'Water Company', 'Foreign Nonprofit Corporation',
       'Cooperative Association', 'Limited Partnership',
       'Limited Liability Partnership', 'Foreign Other',
       'Foreign Limited Liability Company', 'Foreign Cooperative',
       'Savings And Loan', 'Limited Liability Limited Partnership',
       'Foreign Limited Partnership', 'Cooperative',
       'Foreign Limited Liability Partnership', 'Corporation Sole',
       'Corporation-Public Benefit Corporation',
       'Foreign Limited Liability Limited Partnership',
       'General Partnership', 'Cooperative-Public Benefit Corporation',
       'Limited Partnership Association',
       'Unincorporated Nonprofit Association',
       'Limited Cooperative Association',
       'Cooperative Association-Public Benefit Corporation',
       'Limited Cooperative Association-Public Benefit Corporation',
       'Foreign Limited Partnership Association',
       'Foreign Limited Cooperative Association'], dtype=object)

### From my dataset, how much of it is populated with null values?

In [13]:
from IPython.display import display
null_counts = df.isnull().sum()
null_percentages = (df.isnull().sum() / len(df)) * 100

null_info = pd.concat([null_counts, null_percentages], axis=1)
null_info.columns = ['Null Counts', 'Null Percentages']

display(null_info)

                        Null Counts  Null Percentages
entityid                          0          0.000000
entityname                        2          0.000077
principaladdress1             83836          3.241365
principaladdress2           2233152         86.340728
principalcity                 83959          3.246121
principalstate                84062          3.250103
principalzipcode              84466          3.265723
principalcountry              84120          3.252346
mailingaddress1             1801223         69.640985
mailingaddress2             2483302         96.012320
mailingcity                 1801182         69.639400
mailingstate                1801174         69.639091
mailingzipcode              1801225         69.641063
mailingcountry              1751531         67.719735
entitystatus                      0          0.000000
jurisdictonofformation            6          0.000232
entitytype                        0          0.000000
agentfirstname               657727         25.429809
agentmiddlename             1554218         60.090990
agentlastname                657732         25.430002
agentsuffix                 2522543         97.529501
agentorganizationname       2080108         80.423563
agentprincipaladdress1       151448          5.855459
agentprincipaladdress2      2239472         86.585080
agentprincipalcity           151421          5.854415
agentprincipalstate          151306          5.849969
agentprincipalzipcode        151410          5.853990
agentprincipalcountry        151306          5.849969
agentmailingaddress1        1956020         75.625928
agentmailingaddress2        2516201         97.284299
agentmailingcity            1956009         75.625502
agentmailingstate           1955993         75.624884
agentmailingzipcode         1956009         75.625502
agentmailingcountry         1955977         75.624265
entityformdate                    0          0.000000

In [14]:

df.principalcountry.unique()
df.entitystatus.unique()

array(['Voluntarily Dissolved', 'Good Standing',
       'Administratively Dissolved', 'Exists', 'Revoked', 'Delinquent',
       'Withdrawn', 'Dissolved (Term Expired)', 'Noncompliant',
       'Registered Agent Resigned', 'Converted', 'Judicially Dissolved',
       'Merged'], dtype=object)

## Assuming Entities Only in Existence

In [15]:
df_exists = df[df['entitystatus'].isin(['Good Standing', 'Exists'])]
df_exists.shape

(993967, 35)

In [16]:
plt.figure(figsize=(10, 6))  # Adjust the width and height as per your preference
plt.bar(entitytype_counts.index[:10], entitytype_counts.values[:10])
plt.xlabel('Entity Type')
plt.ylabel('Count')
plt.title('Distribution of Top 10 Entity Types in df_exists')
plt.xticks(rotation=45)
plt.show()

NameError: name 'plt' is not defined

### Exploring Foreign Entities

In [ ]:
# filter to only businesses in existence
df_exists = df[df['entitystatus'].isin(['Good Standing', 'Exists'])]

# we know that principalcountry can be US (if the entity is from another state)
# we want to understand all of the states represented in the dataset

# df_exists_non_us = df_exists[df_exists['principalcountry'] != 'US']
# principalstate_counts = df_exists_non_us['principalstate'].value_counts()
# print(principalstate_counts)

aggregated_counts = df_exists.groupby(['principalcountry', 'principalstate']).size().reset_index(name='count')
print(aggregated_counts.sort_values(by='count', ascending=False))

aggregated_counts.to_csv('foreign_businesses.txt', index=False)

    principalcountry principalstate   count
177               US             CO  857115
176               US             CA   17738
222               US             TX   15595
181               US             FL    8703
209               US             NY    6903
..               ...            ...     ...
119               ME             OT       1
120               MN             OT       1
127               NG             OT       1
130               NO             CO       1
121               MP             MP       1

[242 rows x 3 columns]

In [ ]:
row = df_exists[(df_exists['principalcountry'] == 'AF') & (df_exists['principalstate'] == 'OT')]
row

,entityid,entityname,principaladdress1,principaladdress2,principalcity,principalstate,principalzipcode,principalcountry,mailingaddress1,mailingaddress2,...,agentprincipalstate,agentprincipalzipcode,agentprincipalcountry,agentmailingaddress1,agentmailingaddress2,agentmailingcity,agentmailingstate,agentmailingzipcode,agentmailingcountry,entityformdate
2237335,20228102235,PIONIX LLC,"QALAI-E-WAZEER , KARTE 3",NaN,Kabul,OT,1006,AF,NaN,NaN,...,CO,80601,US,NaN,NaN,NaN,NaN,NaN,NaN,11/09/2022

In [ ]:
df_exists_us = df_exists[df_exists['principalcountry'] == 'US']
principalstate_counts = df_exists_us['principalstate'].value_counts()

df_exists_us.principalstate.unique()

array(['CO', 'NJ', 'GA', 'VT', 'NY', 'VA', 'AZ', 'IL', 'MI', 'CT', 'MN',
       'UT', 'PA', 'CA', 'OH', 'IA', 'NM', 'TX', 'WI', 'MA', 'MO', 'ID',
       'SD', 'NE', 'MS', 'OK', 'KS', 'NC', 'FL', 'DC', 'MD', 'IN', 'NH',
       'OR', 'AR', 'SC', 'LA', 'WY', 'TN', 'WA', 'RI', 'ND', 'ME', 'NV',
       'DE', 'KY', 'AL', 'HI', 'WV', 'MT', 'AK', 'PR', nan, 'OT', 'BC',
       'AP', 'AE', 'VI', 'MP', 'AA', 'AB', 'GU', 'MB', 'ON', 'PW'],
      dtype=object)

In [ ]:
df.columns

Index(['entityid', 'entityname', 'principaladdress1', 'principaladdress2',
       'principalcity', 'principalstate', 'principalzipcode',
       'principalcountry', 'mailingaddress1', 'mailingaddress2', 'mailingcity',
       'mailingstate', 'mailingzipcode', 'mailingcountry', 'entitystatus',
       'jurisdictonofformation', 'entitytype', 'agentfirstname',
       'agentmiddlename', 'agentlastname', 'agentsuffix',
       'agentorganizationname', 'agentprincipaladdress1',
       'agentprincipaladdress2', 'agentprincipalcity', 'agentprincipalstate',
       'agentprincipalzipcode', 'agentprincipalcountry',
       'agentmailingaddress1', 'agentmailingaddress2', 'agentmailingcity',
       'agentmailingstate', 'agentmailingzipcode', 'agentmailingcountry',
       'entityformdate'],
      dtype='object')

In [ ]:
from IPython.display import display
null_counts = df.isnull().sum()
null_percentages = (df.isnull().sum() / len(df)) * 100

null_info = pd.concat([null_counts, null_percentages], axis=1)
null_info.columns = ['Null Counts', 'Null Percentages']

display(null_info)

                        Null Counts  Null Percentages
entityid                          0          0.000000
entityname                        2          0.000077
principaladdress1             83836          3.241365
principaladdress2           2233152         86.340728
principalcity                 83959          3.246121
principalstate                84062          3.250103
principalzipcode              84466          3.265723
principalcountry              84120          3.252346
mailingaddress1             1801223         69.640985
mailingaddress2             2483302         96.012320
mailingcity                 1801182         69.639400
mailingstate                1801174         69.639091
mailingzipcode              1801225         69.641063
mailingcountry              1751531         67.719735
entitystatus                      0          0.000000
jurisdictonofformation            6          0.000232
entitytype                        0          0.000000
agentfirstname               657727         25.429809
agentmiddlename             1554218         60.090990
agentlastname                657732         25.430002
agentsuffix                 2522543         97.529501
agentorganizationname       2080108         80.423563
agentprincipaladdress1       151448          5.855459
agentprincipaladdress2      2239472         86.585080
agentprincipalcity           151421          5.854415
agentprincipalstate          151306          5.849969
agentprincipalzipcode        151410          5.853990
agentprincipalcountry        151306          5.849969
agentmailingaddress1        1956020         75.625928
agentmailingaddress2        2516201         97.284299
agentmailingcity            1956009         75.625502
agentmailingstate           1955993         75.624884
agentmailingzipcode         1956009         75.625502
agentmailingcountry         1955977         75.624265
entityformdate                    0          0.000000

In [ ]:
# same thing but for df_exists
null_counts = df_exists.isnull().sum()
null_percentages = (df_exists.isnull().sum() / len(df_exists)) * 100

null_info = pd.concat([null_counts, null_percentages], axis=1)
null_info.columns = ['Null Counts', 'Null Percentages']

display(null_info)
null_info.to_csv('df_exists_null_values.csv', index=False)

                        Null Counts  Null Percentages
entityid                          0          0.000000
entityname                        1          0.000101
principaladdress1             11036          1.110298
principaladdress2            894022         89.944837
principalcity                 11045          1.111204
principalstate                11045          1.111204
principalzipcode              11056          1.112311
principalcountry              11046          1.111305
mailingaddress1              726711         73.112186
mailingaddress2              968031         97.390658
mailingcity                  726704         73.111482
mailingstate                 726704         73.111482
mailingzipcode               726708         73.111884
mailingcountry               695688         69.991056
entitystatus                      0          0.000000
jurisdictonofformation            2          0.000201
entitytype                        0          0.000000
agentfirstname               266907         26.852702
agentmiddlename              653371         65.733671
agentlastname                266906         26.852602
agentsuffix                  974537         98.045207
agentorganizationname        727679         73.209573
agentprincipaladdress1          636          0.063986
agentprincipaladdress2       889320         89.471783
agentprincipalcity              624          0.062779
agentprincipalstate             585          0.058855
agentprincipalzipcode           624          0.062779
agentprincipalcountry           585          0.058855
agentmailingaddress1         703193         70.746111
agentmailingaddress2         965966         97.182904
agentmailingcity             703192         70.746011
agentmailingstate            703192         70.746011
agentmailingzipcode          703191         70.745910
agentmailingcountry          703192         70.746011
entityformdate                    0          0.000000

In [ ]:
truncated_df = df.head(100)
truncated_df.to_csv('truncated_df.csv', index=False)

In [ ]:
# for non-us principalcoumntry, what is the distribution of null values for agent columns?
df_non_us = df_exists[df_exists['principalcountry'] != 'US']
agent_columns = [col for col in df_non_us.columns if col.startswith('agent')]
null_counts = df_non_us[agent_columns].isnull().sum()
null_percentages = (null_counts / len(df_non_us)) * 100

null_info = pd.DataFrame({'Null Counts': null_counts, 'Null Percentages': null_percentages})
null_info

                        Null Counts  Null Percentages
agentfirstname                 4211         32.545019
agentmiddlename                6390         49.385578
agentlastname                  4211         32.545019
agentsuffix                   12556         97.039957
agentorganizationname          9281         71.728882
agentprincipaladdress1          561          4.335729
agentprincipaladdress2        12438         96.127985
agentprincipalcity              561          4.335729
agentprincipalstate             561          4.335729
agentprincipalzipcode           561          4.335729
agentprincipalcountry           561          4.335729
agentmailingaddress1          12260         94.752299
agentmailingaddress2          12893         99.644486
agentmailingcity              12260         94.752299
agentmailingstate             12260         94.752299
agentmailingzipcode           12260         94.752299
agentmailingcountry           12260         94.752299

In [ ]:
agentprincipalcity_counts = df_non_us['agentprincipalcity'].value_counts()
print(agentprincipalcity_counts)

agentprincipalcity
DENVER               3018
Denver               1386
ENGLEWOOD             914
BOULDER               537
COLORADO SPRINGS      510
                     ...
DURLANGO                1
MT CRESTED BUTTE        1
HOWARD                  1
MOUNUMENT               1
Boulder, Colorado       1
Name: count, Length: 447, dtype: int64

In [22]:
# explore enttiyformdate
# filter to only businesses in existence
df_exists = df[df['entitystatus'].isin(['Good Standing', 'Exists'])]
df_exists['entityformdate'].head()

1     1948-06-28
4     1956-06-18
5     1911-07-24
7     1951-05-17
20    1949-04-11
Name: entityformdate, dtype: object

In [23]:
total_businesses = len(df_exists)
formatted_total_businesses = "{:,}".format(total_businesses)
earliest_entityformdate = df_exists['entityformdate'].min()
latest_entityformdate = df_exists['entityformdate'].max()

In [24]:
earliest_entityformdate

datetime.date(1864, 3, 5)

In [2]:
import pandas as pd
import numpy as np


# use this to test date range in all of df
df = pd.read_csv('Business.csv', parse_dates=['entityformdate'])
total_businesses = len(df)
formatted_total_businesses = "{:,}".format(total_businesses)
earliest_entityformdate = df['entityformdate'].min()
latest_entityformdate = df['entityformdate'].max()

earliest_entityformdate

Timestamp('1864-03-05 00:00:00')

In [3]:
# write the first 50 rows from df to a csv file called 'first50.csv'
df.head(50).to_csv('first50.csv', index=False)

In [6]:
# use this to test date range in df where entitystatus is 'Exists' or 'Good Standing'
df_exists = df[df['entitystatus'].isin(['Exists', 'Good Standing'])]
total_businesses = len(df_exists)
formatted_total_businesses = "{:,}".format(total_businesses)
earliest_entityformdate = df_exists['entityformdate'].min()
latest_entityformdate = df_exists['entityformdate'].max()

In [7]:
earliest_entityformdate
df_e

Timestamp('1864-03-05 00:00:00')

In [1]:
oldest_records = df_exists.sort_values('entityformdate').head(5)
oldest_records

NameError: name 'df_exists' is not defined